@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GENERAL && SHARED STYLING */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.hero-section,
.hero__section--wrapper,
footer
{
    background-color: #1f2937;
}

.nav__link,
.hero__secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}


/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #1f2937
}

a {
    text-decoration: none;
    margin: 0 14px;
}

.nav__logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}


/* HERO SECTION */

.hero-section {
    height: calc(83vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
}

.hero__main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 16px;
}

.hero__description {
    padding-bottom: 96px;
}

.hero__secondary-text {
    line-height: 1.5;
    margin-bottom: 16px;
}

button {
    background-color: #3882f6;
    padding: 8px 40px;
    cursor: pointer;
}


/* INFORMATION */

#information {
    background-color: #f9faf8;
    margin-top: 48px;
}

.information__header--text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 48px;
}

.information__figures--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 24px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

figure {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.information__figure--description {
    font-size: 18px;
    text-align: center;
}

.information__image {
    width: 200px;
    border: 1px solid blue;
    border-radius: 10%;
}


/* TESTIMONIAL */

#testimonial {
    background-color: #e5e7eb;
    height: 50vh;

}

blockquote {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

blockquote > p {
    padding-top: 120px;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
    
}

cite {
    font-size: 27px;
    align-self: flex-end;
    
}